body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#search{
  margin-top: 15px;
  padding-right: 190px;
}

.form-control{
 height:35px;
 width:456px;
}

#b3{
  margin-left: 500px;
  margin-bottom: 5px;
}
#name{
  width: 390px;
}
#license_no{
  width: 390px;
}
#age{
  width: 390px;
}
#salary{
  width: 390px;
}
